In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('House Price India.csv')

In [3]:
dataset.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [4]:
dataset.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [6]:
dataset.drop(columns=['living area','waterfront present','number of views', 'Renovation Year','living_area_renov', 'lot_area_renov'] , inplace=True)

In [7]:
dataset.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
lot area                                 0
number of floors                         0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Postal Code                              0
Lattitude                                0
Longitude                                0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [ ]:
import streamlit as st
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pickle
import os

# Check if model exists, otherwise train it
if not os.path.exists('model.pkl'):
    st.warning("Training model for the first time... (This may take a few minutes)")
    
    # Load and preprocess data
    df = pd.read_csv('House price India.csv')
    
    # Convert date to numerical value
    df['date'] = pd.to_datetime(df['Date']).astype('int64') // 10**9
    
    # Handle categorical data (example for 'postal_code')
    df = pd.get_dummies(df, columns=['Postal Code'], drop_first=True)
    
    # Split data
    X = df.drop('Price', axis=1)
    y = df['Price']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    
    # Train model
    model = RandomForestRegressor(n_estimators=100)
    model.fit(X_train, y_train)
    
    # Save model
    with open('model.pkl', 'wb') as f:
        pickle.dump(model, f)
    
    st.success("Model trained and saved!")
else:
    with open('model.pkl', 'rb') as f:
        model = pickle.load(f)
    df = pd.read_csv('House price India.csv')

2025-05-20 19:13:55.876 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-20 19:13:55.877 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-20 19:14:14.343 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-05-20 19:14:14.344 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.